body {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
}
#defender #defender-types {
  margin-left: -15px;
  margin-right: -15px;
}
#defender #defender-types:before,
#defender #defender-types:after {
  content: " ";
  display: table;
}
#defender #defender-types:after {
  clear: both;
}
#defender div[pokemon-type-selector] {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0.5em;
}
@media (min-width: 992px) {
  #defender div[pokemon-type-selector] {
    float: left;
    width: 33.33333333%;
  }
}
section + section h3 {
  margin-top: 1.5em;
}
#result #type-effects {
  margin-left: -15px;
  margin-right: -15px;
}
#result .type {
  border-left: 10px solid;
  padding: 10px;
  list-style: none;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
#result .type .effect {
  position: absolute;
  left: 85%;
}
@media (min-width: 992px) {
  #result .type {
    float: left;
    width: 66.66666667%;
  }
}
#result .type-normal {
  border-color: #c5c0a6;
  background-color: #f1f0ea;
}
#result .type-grass {
  border-color: #a5d839;
  background-color: #d0ea97;
}
#result .type-fire {
  border-color: #ee4e32;
  background-color: #f7a79a;
}
#result .type-water {
  border-color: #71aaff;
  background-color: #e1edff;
}
#result .type-fighting {
  border-color: #b85f3b;
  background-color: #d9a18a;
}
#result .type-flying {
  border-color: #88a6ff;
  background-color: #f8faff;
}
#result .type-poison {
  border-color: #a75d9d;
  background-color: #cea6c9;
}
#result .type-ground {
  border-color: #f3ce42;
  background-color: #fae9ac;
}
#result .type-rock {
  border-color: #d8bb67;
  background-color: #efe3c0;
}
#result .type-bug {
  border-color: #ccd700;
  background-color: #f6ff48;
}
#result .type-ghost {
  border-color: #8379d0;
  background-color: #d0cced;
}
#result .type-electric {
  border-color: #fae528;
  background-color: #fdf296;
}
#result .type-psychic {
  border-color: #e762af;
  background-color: #f6c3e1;
}
#result .type-ice {
  border-color: #b0edfc;
  background-color: #ffffff;
}
#result .type-dragon {
  border-color: #8b71ff;
  background-color: #e7e1ff;
}
#result .type-dark {
  border-color: #8c6b48;
  background-color: #c0a384;
}
#result .type-steel {
  border-color: #c9c1c9;
  background-color: #fdfdfd;
}
#result .type-fairy {
  border-color: #f2a9f6;
  background-color: #ffffff;
}
.type-selector .type-selector-button,
.type-selector-palette .type-selector-button {
  cursor: pointer;
}
.type-selector .type-mark,
.type-selector-palette .type-mark {
  border-radius: 50%;
  height: 2em;
  width: 2em;
  display: inline-block;
}
.type-selector .type,
.type-selector-palette .type {
  padding: 0.4em;
  cursor: pointer;
  display: block;
  text-shadow: 1px 1px 0 #DDD;
}
.type-selector .type-normal,
.type-selector-palette .type-normal {
  background-color: #d9d6c5;
  border: 5px solid #c5c0a6;
}
.type-selector .type-normal:hover,
.type-selector-palette .type-normal:hover,
.type:hover .type-selector .type-normal,
.type:hover .type-selector-palette .type-normal {
  background-color: #cfcbb5;
}
.type-selector .type-grass,
.type-selector-palette .type-grass {
  background-color: #b8e064;
  border: 5px solid #a5d839;
}
.type-selector .type-grass:hover,
.type-selector-palette .type-grass:hover,
.type:hover .type-selector .type-grass,
.type:hover .type-selector-palette .type-grass {
  background-color: #afdc4e;
}
.type-selector .type-fire,
.type-selector-palette .type-fire {
  background-color: #f27761;
  border: 5px solid #ee4e32;
}
.type-selector .type-fire:hover,
.type-selector-palette .type-fire:hover,
.type:hover .type-selector .type-fire,
.type:hover .type-selector-palette .type-fire {
  background-color: #f0624a;
}
.type-selector .type-water,
.type-selector-palette .type-water {
  background-color: #a4c9ff;
  border: 5px solid #71aaff;
}
.type-selector .type-water:hover,
.type-selector-palette .type-water:hover,
.type:hover .type-selector .type-water,
.type:hover .type-selector-palette .type-water {
  background-color: #8bb9ff;
}
.type-selector .type-fighting,
.type-selector-palette .type-fighting {
  background-color: #cb7b5b;
  border: 5px solid #b85f3b;
}
.type-selector .type-fighting:hover,
.type-selector-palette .type-fighting:hover,
.type:hover .type-selector .type-fighting,
.type:hover .type-selector-palette .type-fighting {
  background-color: #c46c48;
}
.type-selector .type-flying,
.type-selector-palette .type-flying {
  background-color: #bbccff;
  border: 5px solid #88a6ff;
}
.type-selector .type-flying:hover,
.type-selector-palette .type-flying:hover,
.type:hover .type-selector .type-flying,
.type:hover .type-selector-palette .type-flying {
  background-color: #a2b9ff;
}
.type-selector .type-poison,
.type-selector-palette .type-poison {
  background-color: #b97eb1;
  border: 5px solid #a75d9d;
}
.type-selector .type-poison:hover,
.type-selector-palette .type-poison:hover,
.type:hover .type-selector .type-poison,
.type:hover .type-selector-palette .type-poison {
  background-color: #b06ea7;
}
.type-selector .type-ground,
.type-selector-palette .type-ground {
  background-color: #f6da72;
  border: 5px solid #f3ce42;
}
.type-selector .type-ground:hover,
.type-selector-palette .type-ground:hover,
.type:hover .type-selector .type-ground,
.type:hover .type-selector-palette .type-ground {
  background-color: #f5d45a;
}
.type-selector .type-rock,
.type-selector-palette .type-rock {
  background-color: #e2cd90;
  border: 5px solid #d8bb67;
}
.type-selector .type-rock:hover,
.type-selector-palette .type-rock:hover,
.type:hover .type-selector .type-rock,
.type:hover .type-selector-palette .type-rock {
  background-color: #ddc47b;
}
.type-selector .type-bug,
.type-selector-palette .type-bug {
  background-color: #f3ff0b;
  border: 5px solid #ccd700;
}
.type-selector .type-bug:hover,
.type-selector-palette .type-bug:hover,
.type:hover .type-selector .type-bug,
.type:hover .type-selector-palette .type-bug {
  background-color: #e4f100;
}
.type-selector .type-ghost,
.type-selector-palette .type-ghost {
  background-color: #a69fdd;
  border: 5px solid #8379d0;
}
.type-selector .type-ghost:hover,
.type-selector-palette .type-ghost:hover,
.type:hover .type-selector .type-ghost,
.type:hover .type-selector-palette .type-ghost {
  background-color: #948cd7;
}
.type-selector .type-electric,
.type-selector-palette .type-electric {
  background-color: #fbeb5a;
  border: 5px solid #fae528;
}
.type-selector .type-electric:hover,
.type-selector-palette .type-electric:hover,
.type:hover .type-selector .type-electric,
.type:hover .type-selector-palette .type-electric {
  background-color: #fbe841;
}
.type-selector .type-psychic,
.type-selector-palette .type-psychic {
  background-color: #ee8ec6;
  border: 5px solid #e762af;
}
.type-selector .type-psychic:hover,
.type-selector-palette .type-psychic:hover,
.type:hover .type-selector .type-psychic,
.type:hover .type-selector-palette .type-psychic {
  background-color: #ea78ba;
}
.type-selector .type-ice,
.type-selector-palette .type-ice {
  background-color: #e1f8fe;
  border: 5px solid #b0edfc;
}
.type-selector .type-ice:hover,
.type-selector-palette .type-ice:hover,
.type:hover .type-selector .type-ice,
.type:hover .type-selector-palette .type-ice {
  background-color: #c9f3fd;
}
.type-selector .type-dragon,
.type-selector-palette .type-dragon {
  background-color: #b5a4ff;
  border: 5px solid #8b71ff;
}
.type-selector .type-dragon:hover,
.type-selector-palette .type-dragon:hover,
.type:hover .type-selector .type-dragon,
.type:hover .type-selector-palette .type-dragon {
  background-color: #a08bff;
}
.type-selector .type-dark,
.type-selector-palette .type-dark {
  background-color: #ab855c;
  border: 5px solid #8c6b48;
}
.type-selector .type-dark:hover,
.type-selector-palette .type-dark:hover,
.type:hover .type-selector .type-dark,
.type:hover .type-selector-palette .type-dark {
  background-color: #9d7851;
}
.type-selector .type-steel,
.type-selector-palette .type-steel {
  background-color: #e1dce1;
  border: 5px solid #c9c1c9;
}
.type-selector .type-steel:hover,
.type-selector-palette .type-steel:hover,
.type:hover .type-selector .type-steel,
.type:hover .type-selector-palette .type-steel {
  background-color: #d5cfd5;
}
.type-selector .type-fairy,
.type-selector-palette .type-fairy {
  background-color: #f9d7fb;
  border: 5px solid #f2a9f6;
}
.type-selector .type-fairy:hover,
.type-selector-palette .type-fairy:hover,
.type:hover .type-selector .type-fairy,
.type:hover .type-selector-palette .type-fairy {
  background-color: #f5c0f8;
}
.type-selector .type-undefined,
.type-selector-palette .type-undefined {
  background-color: #f7f7f7;
  border: 5px solid #dddddd;
}
.type-selector .type-undefined:hover,
.type-selector-palette .type-undefined:hover,
.type:hover .type-selector .type-undefined,
.type:hover .type-selector-palette .type-undefined {
  background-color: #eaeaea;
}
.type-selector-palette {
  padding: 1em;
}
.type-selector-palette:before,
.type-selector-palette:after {
  content: " ";
  display: table;
}
.type-selector-palette:after {
  clear: both;
}
.type-selector-palette .type {
  width: 50%;
  float: left;
}
