<!DOCTYPE html>
<html ng-app="pokemonTypeEffectsApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="相手ポケモンのタイプから、わざのタイプ別効果倍率を計算するツールです。スマートフォン対応。">
  <title>ポケモンタイプ相性チェッカ（サンムーン対応）</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
</head>
<body style="max-width: 900px">
  <div ng-controller="MainCtrl">
    <section id="defender">
      <h3>相手ポケモンのタイプ</h3>
      <div id="defender-types">
        <div pokemon-type-selector ng-repeat="i in [0,1]" selected-type="defenderTypes[i]"></div>
      </div>
      <div class="example">
        例:
        <a href="/?d=psychic">エスパータイプの弱点</a>
        <a href="/?d=fairy,dragon">フェアリー／ドラゴンタイプの弱点</a>
      </div>
    </section>
    <div id="ad" style="width: 100%; margin-top: 1em">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- pokemon-type-effects-bottom -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-4031405268309770"
           data-ad-slot="1116752821"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <section id="result">
      <h3>わざのタイプ別効果倍率</h3>
      <div id="type-effetcs">
        <div ng-repeat="te in allEffects" ng-if="te.effect !== 1" class="type type-{{te.typeName}}">
          <span class="type-name">{{te.typeName | displayTypeName }}</span>
          <span class="effect">&#x00D7; {{te.effect | numberAsEffect}}</span>
        </div>
        <br style="clear: both">
      </div>
    </section>
    <section id="social">
      <h3>結果をツイートする</h3>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <p tweet-button></p>
    </section>
  </div>
  <script type="text/ng-template" id="type_selector.html">
    <div class="type-selector">
      <div class="type-selector-button type type-{{selectedType || 'undefined'}}" ng-click="togglePalette()">{{selectedType || '-' | displayTypeName}}</div>
    </div>
  </script>
  <script type="text/ng-template" id="type_palette.html">
    <div class="type-selector-palette">
      <span class="type" ng-repeat="typeName in allTypes" ng-click="selectType(typeName)">
        <span class="type-mark type-{{typeName}}">&nbsp;</span>
        {{typeName | displayTypeName}}
      </span>
    </div>
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-34276254-4', 'motemen.github.io');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>
</body>
</html>
