<!DOCTYPE html>
<html ng-app="pokemonTypeEffectsApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokemon Type Effects</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
</head>
<body>
  <div ng-controller="MainCtrl">
    <section id="defender">
      <h3>相手ポケモンのタイプ</h3>
      <div id="defender-types">
        <div pokemon-type-selector ng-repeat="i in [0,1]" selected-type="defenderTypes[i]"></div>
      </div>
    </section>
    <section id="effects">
      <h3>わざのタイプ別効果倍率</h3>
      <ul>
        <li ng-repeat="te in allEffects()" ng-if="te.effect !== 1" class="type type-{{te.typeName}}">
          <span class="type-name">{{te.typeName | displayTypeName }}</span>
          <span class="effect">&#x00D7; {{te.effect | numberAsEffect}}</span>
        </li>
      </ul>
    </section>
  </div>
  <script type="text/ng-template" id="type_selector.html">
    <div class="type-selector">
      <div class="type-selector-button type type-{{selectedType || 'undefined'}}" ng-click="togglePalette()">{{selectedType || '-' | displayTypeName}}</div>
    </div>
  </script>
  <script type="text/ng-template" id="type_palette.html">
    <div class="type-selector-palette">
      <span class="type" ng-repeat="typeName in allTypes" ng-click="selectType(typeName)">
        <span class="type-mark type-{{typeName}}">&nbsp;</span>
        {{typeName | displayTypeName}}
      </span>
    </div>
  </script>
</body>
</html>
